.App {
  text-align: center;
  width: 1500px;
  height: 1500px;
  display: block;
  justify-content: center;
}
.big{
  width: 1300px;
  height: 800px;
  display: block;
  justify-content: center;
  align-items: center;
}

